.mainHeader {
  background-color: var(--color-gray-7);
  color: var(--color-white);
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
